<!--共通部分は削除-->

<!--部分テンプレートの呼び出し（userinfo）、変数の変更user→@user-->
<%= render 'userinfo', user: @user %>

<!--部分テンプレート（newbook）の呼び出し-->
<!--変数は要定義-->
<%= render 'books/newbook', book: @book %>

  <h2>Books</h2>


  <table>

  <tr>
    <th>
      Title
    </th>
    <th>
      Opinion
    </th>
  </tr>

  <tr>
  <% @books.each do |book| %>
    <td>
    <%= image_tag book.user.get_profile_image(100,100) %>
    </td>
    <td>
      <%= link_to book.title, book_path(book.id) %>
    </td>
    <td>
      <%= book.opinion %>
    </td>
  </tr>
  <% end %>
</table>

