<!--部分テンプレートとして使用するためインスタンス変数をローカル変数に変更-->

<h2>New book</h2>

<% if book.errors.any? %>
  <%= book.errors.count %> errors prohibited this obj from being saved:

  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>


<!--正しいurlmethodは何だろう？-->
<!--保存先に送るから、createのurlとPOSTが正解！-->
<%= form_with model: book, url: books_path, method: :post do |f| %>

<!--サインイン時に名前も登録するためのフォームを追加-->
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :opinion %><br />
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Create Book" %>
  </div>
<% end %>
