<h2>New book</h1>

<!--, url: books_path, method: :post-->
<!--正しいurlmethodは何だろう？-->
<!--保存先に送るから、createのurlとPOSTが正解！-->
<%= form_with model: @book, url: books_path, method: :post do |f| %>

<!--サインイン時に名前も登録するためのフォームを追加-->
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :opinion %><br />
    <%= f.text_field :opinion %>
  </div>

  <div class="actions">
    <%= f.submit "Create Book" %>
  </div>
<% end %>
