<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--FontAusomeの導入-->
    <script src="https://kit.fontawesome.com/7ae0cf8aaf.js" crossorigin="anonymous"></script>

    <!--どこのファイルを読み込むか変更する（link→pack）-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navber-dark bg-dark">
        <div class="container">
          <ul class="navbar-nav ml-auto">
            <li>
              <%= link_to "Bookers", root_path %>
            </li>

            <% if user_signed_in? %>
            <li>
              <!--ログインしているユーザーのマイページをリンク先にしたい-->
              <!--詳細ページのように変数を定義する？？-->
              <!--【？】アイコンをつけると大文字になってしまう-->
              <%= link_to user_path(current_user.id) do %>
                <p>
                  <i class="fa-solid fa-house"></i>
                  Home
                </p>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <p><i class="fa-solid fa-users"></i>
                  Users
                </p>
              <% end %>
            </li>
            <li>
              <%= link_to books_path do %>
                <p><i class="fa-solid fa-book-open"></i>
                  Books
                </p>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <p><i class="fa-solid fa-right-from-bracket"></i>
                  Log out
                </p>
              <% end %>
            </li>

            <% else %>
            <li>
              <%= link_to root_path do %>
                <p>
                  <i class="fa-solid fa-house"></i>
                  Home
                </p>
              <% end %>
            </li>
            <li>
              <%= link_to home_about_path do %>
                <p>
                  <i class="fa-solid fa-link"></i>
                  About
                </p>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <p>
                  <i class="fa-solid fa-user-plus"></i>
                  Sign up
                </p>
              <% end %>
            </li>
            <li>
              <%= link_to user_session_path do %>
                <p>
                  <i class="fa-solid fa-right-to-bracket"></i>
                  Log in
                </p>
              <% end %>
            </li>
            <% end %>
        </div>
      </nav>
    </header>

    <main>
      <div>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </main>

    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>

  </body>
</html>
